@charset "UTF-8";
/* CSS Document */
BODY{
	BACKGROUND-COLOR:rgba(1,480,510,5716);
PADDING:0 AUTO;
MARGIN: 0 AUTO;
}
A{
	TEXT-DECORATION:NONE;
}
.SHARE{
	WIDTH:480PX;
	PADDING:0 AUTO;
	MARGIN:0 AUTO;
}
HEADER{
	WIDTH:480PX;
	HEIGHT:45PX;
	BACKGROUND-COLOR:rgba(1,480,510,5716);
	PADDING:0 AUTO;
	MARGIN:0 AUTO;
	TOP:0;
	POSITION:FIXED;
}
.LOGO{
	WIDTH:200PX;
	HEIGHT:45PX;
	BACKGROUND-COLOR:rgba(480,510,57,16);
	PADDING:0 AUTO;
	MARGIN:0 AUTO;
}
H1{
FONT: 400 69px 'Arizonia', 'Gochi Hand', cursive, Helvetica, sans-serif;
line-height:54PX;
COLOR: rgba(1,480,510,5716);
TEXT-SHADOW: 3px 3px 0px rgba(0,0,0,0.1);
	TEXT-ALIGN:CENTER;
	MARGIN:0 AUTO;
	PADDING:0 AUTO;
}

H2{
	FONT: 400 45px 'Gochi Hand', cursive, Helvetica, sans-serif;
	line-height:50PX;
COLOR: rgba(480,510,57,16);
TEXT-SHADOW: 4px 4px 0px rgba(0,0,0,0.1);
BACKGROUND-COLOR:rgba(480,51,057,16);
MARGIN:0 AUTO;
WIDTH:100%;
BORDER-BOTTOM:rgba(480,510,57,16) 10PX SOLID;
TEXT-ALIGN:CENTER;

}
H3{
FONT: 400 69px 'Arizonia','Gochi Hand', cursive, Helvetica, sans-serif;
line-height:22PX;
COLOR: rgba(480,510,57,16);
TEXT-SHADOW: 3px 3px 0px rgba(0,0,0,0.1);
	TEXT-ALIGN:CENTER;
	MARGIN:11PX AUTO 0;
	PADDING:0 AUTO;
}
H4{
FONT: 400 60px/.2 'Gochi Hand', cursive, Helvetica, sans-serif;
line-height:0;
COLOR: rgba(480,510,57,16);
TEXT-SHADOW: 3px 3px 0px rgba(0,0,0,0.1);
	TEXT-ALIGN:CENTER;
	MARGIN:0 AUTO 0;
	PADDING:0 AUTO;
}
P1{
	FONT: 400 100%/3 'Bangers', cursive;
	COLOR:rgba(48,051,057,16);
	:0 AUTO;
	MARGIN:0 AUTO;
	TEXT-ALIGN:CENTER;
	WIDTH:100%;
}
P2{
	FONT: 400 100%/1.2 'Audiowide', cursive;
	COLOR:rgba(48,051,057,16);
	:0 AUTO;
	MARGIN:0 AUTO;
	TEXT-ALIGN:CENTER;
}
P3{
	FONT: 400 100%/3 'VT323';
	COLOR:rgba(48,051,057,16);
	PADDING:0 AUTO;
	MARGIN:0 AUTO;
	TEXT-ALIGN:CENTER;
}

.NEWS{
	WIDTH:100%;
	BACKGROUND-COLOR:rgba(480,510,57,16);
	PADDING:10PX AUTO;
	MARGIN:45PX AUTO;
	TOP:50;
}
.USER{
	FONT: 400 200%/1.369 'Ubuntu', sans-serif;
	BACKGROUND-COLOR: rgba(100, 600, 000, 200);
}
.IMAGE{
	WIDTH:100%;
	HEIGHT:100%;
	BACKGROUND-COLOR:rgba(48,051,057,16);
	PADDING:0 AUTO;
	MARGIN:0 AUTO;
}
FOOTER{
	WIDTH:480PX;
	HEIGHT:45PX;
	BACKGROUND-COLOR:rgba(1,480,510,5716);
	PADDING:0 AUTO;
	MARGIN:0 AUTO;
	BOTTOM:0;
	POSITION:FIXED;
	
}
.PROFILE{
	WIDTH:96PX;
	HEIGHT:45PX;
	BACKGROUND-COLOR:rgba(1,480,510,5716);
	PADDING:0 AUTO;
	MARGIN:0 AUTO;
	DISPLAY:INLINE-BLOCK;
}
.CHAT{
	WIDTH:96PX;
	HEIGHT:45PX;
	BACKGROUND-COLOR:rgba(1,480,510,5716);
	PADDING:0 AUTO 20PX;
	MARGIN:0 AUTO 20PX -4PX;
	DISPLAY:INLINE-BLOCK;
}
.CAMERA{
	WIDTH:96PX;
	HEIGHT:45PX;
	BACKGROUND-COLOR: rgba(100, 600, 000, 200);
	PADDING:0 AUTO;
	MARGIN:0 AUTO 0 -4PX;
	DISPLAY:INLINE-BLOCK;
}
.SHOP{
	WIDTH:96PX;
	HEIGHT:45PX;
	BACKGROUND-COLOR:rgba(1,480,510,5716);
	PADDING:0 AUTO;
	MARGIN:0 AUTO 0 -4PX;
	DISPLAY:INLINE-BLOCK;
}
.DOWNLOAD{
	WIDTH:96PX;
	HEIGHT:45PX;
	BACKGROUND-COLOR:rgba(1,480,510,5716);
	PADDING:0 AUTO;
	MARGIN:0 AUTO 0 -4PX;
	DISPLAY:INLINE-BLOCK;
}

@media (max-width: 767px) {
  .SHARE{
	  WIDTH:105.8%;
    margin-left: -3%;
    margin-right: -3%;
  }
  HEADER{
	WIDTH:105.8%;
  }
   FOOTER{
	WIDTH:105.8%;
	
  }
  H3{
	  FONT: 400 450% 'Arizonia','Gochi Hand', cursive, Helvetica, sans-serif;
  line-height:39PX;
  
  }
    H4{
	  FONT: 400 400% 'Gochi Hand', cursive, Helvetica, sans-serif;
  line-height:15PX;
  MARGIN:20PX AUTO 0;
  }
  .PROFILE{
	WIDTH:19.3%;
	MARGIN:-100PX AUTO 0;
	PADDING:-45PX AUTO 0;
  }
  .CHAT{
WIDTH:19.3%;

  }
  .CAMERA{
WIDTH:19.3%;

  }
  .SHOP{
WIDTH:19.3%;
  }
  .DOWNLOAD{
WIDTH:19.3%;
  }
 
  
}

	

	
